.testimonials-box-container {
	width: 350px;
	padding-top: 20px;
	padding-bottom: 20px;
	.testimonials-pic {
    border-radius: 50%;
    height: 120px;
		width: 120px;
		margin: 0 auto;
	}
	.testimonials-quote {
		text-align: center;
		font-size: 0.8rem;
		font-family: karla;
		color: #181818;
		overflow-y: auto;
		height: 50px;
		margin-top: 40px;
		text-align: center;
		padding-left: 20px;
		padding-right:20px;
	}
	.testimonials-name {
		padding-left: 20px;
		padding-right: 20px;
		margin: 0px;
		font-size: 1.1rem;
		font-family: karla;
		font-style: normal;
		font-weight: 500;
		letter-spacing: 0.085em;
		color: #292929;
		height: 50px;
	}
	.testimonials-link {
		font-size: 0.7rem;
		font-family: karla;
		font-style: normal;
		font-weight: 500;
		letter-spacing: 0.085em;
		color: #292929;
		margin: 0px;
		height: 10px;
	}
}