.testimonials-container{
  overflow: hidden;
  .testimonials-heading{
    text-align: center;
		font-family: Karla;
		font-style: normal;
		font-weight: bold;
		font-size: 4rem;
		letter-spacing: 0.135em;
		color: #000000;
    margin: 0px;
    padding: 0px;
  }
  .testimonials-subcontainer{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (max-width: 700px) {
  .testimonials-container{
    .testimonials-heading{
      font-size: 1.8rem;
    }
    .testimonials-subcontainer{
      margin-top: 50px;
    }
  }
}