.social-container {
	overflow: hidden;
	background-color: #1e1d23;
	padding: 10px 10px 70px 10px;
	.social-heading {
		margin-bottom: 50px;
		width: 100%;
		font-family: 'Open Sans', sans-serif;
		font-style: normal;
		font-weight: bold;
		font-size: 2rem;
		text-align: center;
		letter-spacing: 0.1em;
		color: #8f9595;
	}
	.social-links-container {
		margin: 0 auto;
		width: 70%;
		display: flex;
		justify-content: space-around;
		.social-link {
			border-radius: 50%;
			background-color: transparent;
			height: 60px;
			width: 60px;
			text-decoration: none;
			display: flex;
			align-self: center;
			text-align: center;
			transition: all 0.5s ease !important;
			img {
				margin: 0 auto;
				align-self: center;
				height: 60px;
				width: 60px;
			}
		}
	}
}

@media screen and (max-width: 700px) {
	.social-container {
		.social-heading{
			font-size: 1.2rem;
		}
		.social-links-container {
			.social-link {
				height: 30px;
				width: 30px;
				img{
					height: 30px;
					width: 30px;
				}
			}
		}
	}
}