.gallery-container {
	overflow: hidden;
	.gallery-heading {
		cursor: default;
		text-align: center;
		font-family: Karla;
		font-style: normal;
		font-weight: bold;
		font-size: 4rem;
		letter-spacing: 0.135em;
		color: #000000;
		margin: 0px 0px 100px 0px;
		padding: 0px;
	}
	.gallery-main-section {
		height: 1000px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		margin-bottom: 80px;
		.gallery-left-images {
			width: 59.2%;
			overflow: hidden;
			img {
				height:100%; 
				width:100%;
				transition: transform 0.25s, visibility 0.25s ease-in;
				cursor: zoom-in;
			}
			img:hover {
				transform: scale(1.05);
			}
		}
		.gallery-right-images {
			width: 40%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			overflow: hidden;
			img:nth-child(1){
				cursor: zoom-in;
				height: 49.5%;
				transform-origin: bottom;
				transition:  transform 0.25s, visibility 0.25s ease-in;
			}
			img:nth-child(1):hover{
				transform: scale(1.05);
			}
			img:nth-child(2){
				cursor: zoom-in;
				height: 49.5%;
				transform-origin: top;
				transition:  transform 0.25s, visibility 0.25s ease-in;
			}
			img:nth-child(2):hover{
				transform: scale(1.05);
			}
		}
	}
	.gallery-view-btn {
		padding: 20px;
		margin: 0 auto;
		border: 1px solid black;
		background-color: transparent;
		font-family: Karla;
		font-style: normal;
		font-size: 1rem;
		display: flex;
		align-items: center;
		text-align: center;
		letter-spacing: 0.085em;
		color: #000000;
		transition: all 0.3s ease-in-out;
		cursor: pointer;
		i {
			transition: all 0.1s ease-in-out;
		}
	}
	.gallery-view-btn:hover {
		color: white;
		background-color: black;
	}
	.gallery-subsection{
		margin-top: 100px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		transition: all 0.5s ease-in-out!important;
	}
}

@media screen and (min-width: 1700px) {
	.gallery-container{
		.gallery-main-section{
			height: 1300px;
			.gallery-left-images{
				width: 59.7%;
			}
			.gallery-right-images{
				img:nth-child(1){
					height: 49.8%;
				}
				img:nth-child(2){
					height: 49.8%;
				}
			}
		}
	}
}

@media screen and (max-width: 900px) {
	.gallery-container{
		.gallery-main-section{
			height: 800px;
		}
	}
}

@media screen and (max-width: 600px) {
	.gallery-container{
		.gallery-heading{
			font-size: 1.8rem;
		}
		.gallery-main-section{
			height: 550px;
		}
		.gallery-view-btn{
			padding: 15px;
		}
	}
}

@media screen and (max-width: 500px) {
	.gallery-container{
		.gallery-main-section{
			height: 450px;
		}
	}
}

@media screen and (max-width: 450px) {
	.gallery-container{
		.gallery-main-section{
			height: 350px;
		}
	}
}

@media screen and (max-width: 400px) {
	.gallery-container{
		.gallery-main-section{
			height: 300px;
		}
	}
}