.gallery-container {
	overflow: hidden;
	background-color: black;
	.gallery-heading {
		cursor: default;
		text-align: center;
		font-family: Karla;
		font-style: normal;
		font-weight: bold;
		font-size: 4rem;
		letter-spacing: 0.135em;
		color: lightgray;
		margin: 100px 0px 100px 0px;
		padding: 0px;
	}
	.gallery-main-section {
		height: 1200px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		margin-bottom: 80px;
		.gallery-left-images {
			width: 50%;
			overflow: hidden;
			border: 3px solid black;
			img {
				height:100%; 
				width:100%;
				transition: transform 0.25s, visibility 0.25s ease-in;
				cursor: zoom-in;
			}
			img:hover {
				transform: scale(1.05);
			}
		}
		.gallery-right-images {
			width: 50%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			overflow: hidden;
			.gallery-right-image-1{
				overflow: hidden;
				cursor: zoom-in;
				border: 3px solid black;
				height: 50%;
				transform-origin: bottom;
				img{
					height: 100%;
					width: 100%;
					transition:  transform 0.25s, visibility 0.25s ease-in;
				}
				img:hover{
				transform: scale(1.05);
			}
			}
			.gallery-right-image-2{
				overflow: hidden;
				border: 3px solid black;
				cursor: zoom-in;
				height: 50%;
				transform-origin: top;
				img{
					height: 100%;
					width: 100%;
					transition:  transform 0.25s, visibility 0.25s ease-in;
				}
				img:hover{
				transform: scale(1.05);
			}
			}
		}
	}
	.gallery-view-btn {
		padding: 20px;
		margin: 0 auto;
		margin-bottom: 70px;
		border: 3px solid lightgray;
		background-color: transparent;
		font-family: Karla;
		font-style: normal;
		font-size: 1rem;
		display: flex;
		align-items: center;
		text-align: center;
		letter-spacing: 0.085em;
		color: lightgray;
		transition: all 0.3s ease-in-out;
		cursor: pointer;
		i {
			transition: all 0.1s ease-in-out;
		}
	}
	.gallery-view-btn:hover {
		color: white;
		background-color: black;
	}
	.gallery-subsection{
		margin-top: 100px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		transition: all 0.5s ease-in-out!important;
	}
	.gallery-slide-container{
		.each-slide{
			display: table-cell;
			vertical-align: middle;
			height: 500px;
			img{
				display: block;
				margin: 0 auto;
			}
		}
	}
}

@media screen and (max-width: 1400px) {
	.gallery-container{
		.gallery-main-section{
			height: 800px;
			.gallery-left-images{
				width: 50%;
			}
			.gallery-right-images{
				.gallery-right-image-1{
					height: 49.2%;
				}
				.gallery-right-image-2{
					height: 49.2%;
				}
			}
		}
	}
}
@media screen and (max-width: 1200px) {
	.gallery-container{
		.gallery-main-section{
			height: 750px;
		}
	}
}
@media screen and (max-width: 1000px) {
	.gallery-container{
		.gallery-main-section{
			height: 600px;
		}
	}
}
@media screen and (max-width: 700px) {
	.gallery-container{
		.gallery-main-section{
			height: 500px;
			.gallery-left-images{
				width: 49.3%;
			}
			.gallery-right-images{
				.gallery-right-image-1{
					height: 48.7%;
				}
				.gallery-right-image-2{
					height: 48.7%;
				}
			}
		}
	}
}
@media screen and (max-width: 600px) {
	.gallery-container{
		.gallery-main-section{
			height: 430px;
			.gallery-left-images{
				width: 49.3%;
			}
			.gallery-right-images{
				.gallery-right-image-1{
					height: 48.7%;
				}
				.gallery-right-image-2{
					height: 48.7%;
				}
			}
		}
	}
}
@media screen and (max-width: 500px) {
	.gallery-container{
		.gallery-heading{
			font-size: 2rem;
		}
		.gallery-main-section{
			height: 400px;
			.gallery-left-images{
				width: 49%;
			}
			.gallery-right-images{
				.gallery-right-image-1{
					height: 49%;
				}
				.gallery-right-image-2{
					height: 49%;
				}
			}
		}
	}
}
@media screen and (max-width: 450px) {
	.gallery-container{
		.gallery-main-section{
			height: 330px;
			.gallery-left-images{
				width: 50%;
			}
			.gallery-right-images{
				width: 49%;
				.gallery-right-image-1{
					height: 49%;
				}
				.gallery-right-image-2{
					height: 49%;
				}
			}
		}
	}
}
@media screen and (max-width: 400px) {
	.gallery-container{
		.gallery-main-section{
			height: 320px;
		}
	}
}