.subgallery-container {
	margin-bottom: 10px;
	height: 300px;
	width: 32.7%;
	border: 1px solid black;
	overflow: hidden;
	.subgallery-overlay {
    overflow: hidden;
		background-color: rgba(244,241,241,0.6);
		height: 80px;
		margin-top: 230px;
		padding: 15px 0px 15px 0px;
		font-size: 1.6rem;
		letter-spacing: 0.4em;
		text-align: center;
		transition: all 0.3s ease-in-out;
	}
}

@media screen and (max-width: 1000px) {
	.subgallery-container{
		height: 250px;
	}
}
@media screen and (max-width: 950px) {
	.subgallery-container{
		height: 240px;
	}
}
@media screen and (max-width: 900px) {
	.subgallery-container{
		height: 200px;
	}
}
@media screen and (max-width: 800px) {
	.subgallery-container{
		height: 150px;
	}
}
@media screen and (max-width: 600px) {
	.subgallery-container{
		height: 100px;
		width: 32%;
		margin-bottom: 4px;
	}
}