.about-container {
	background-color: black;
	overflow-x: hidden;
	padding-top: 150px;
	padding-bottom: 150px;
	.about-section {
		display: flex;
		justify-content: center;
		img {
			height: 500px;
			width: 370px;
		}
		.about-content-container {
			display: flex;
			flex-direction: column;
			height: 452px;
			width: 500px;
			border: 4px solid #e7e5e6;
			padding: 20px 60px 20px 60px;
			.about-section-heading {
				letter-spacing: 5px;
				margin-top: 0px;
				text-align: left;
				font-family: karla;
				font-weight: bolder;
				font-size: 3rem;
				color: #e7e5e6;
				margin-bottom: 20px;
			}
			.about-section-content {
				margin-top: 0px;
				font-family: roboto;
				line-height: 23px;
				font-size: 0.9rem;
				text-align: left;
				color: grey;
			}
		}
	}
}

@media screen and (max-width: 1100px) {
	.about-container {
		.about-section {
			img {
				height: 450px;
				width: 300px;
			}
			.about-content-container {
				height: 402px;
				width: 40%;
				.about-section-content {
					font-size: 0.7rem;
					line-height: 20px;
				}
			}
		}
	}
}

@media screen and (max-width: 900px) {
	.about-container {
		.about-section {
			img {
				height: 350px;
				width: 210px;
			}
			.about-content-container {
				height: 302px;
				width: 40%;
				.about-section-heading{
					font-size: 2rem;
				}
				.about-section-content {
					font-size: 0.6rem;
					line-height: 15px;
				}
			}
		}
	}
}

@media screen and (max-width: 700px) {
	.about-container {
		background-image: url('./../images/about.jpg');
		background-size: cover;
		background-position: center;
		.about-section {
			img {
				display: none;
			}
			.about-content-container {
				height: 500px;
				width: 90%;
				border: none;
				margin-top: 130px;
				margin-bottom: 130px;
				padding: 0px;
				.about-section-heading{
					font-size: 2rem;
					color: white;
					text-align: center;
					background-color: rgba(1,1,1,0.5);
					margin-bottom: 0px;
					padding: 20px;
					border-top-right-radius: 5px;
					border-top-left-radius: 5px;
				}
				.about-section-content {
					padding: 10px 40px 40px 40px;
					height: 100%;
					margin-bottom: 0px;
					background-color: rgba(1,1,1,0.5);
					font-size: 0.8rem;
					line-height: 21px;
					letter-spacing: 1px;
					color: white;
					border-bottom-right-radius: 5px;
					border-bottom-left-radius: 5px;
				}
			}
		}
	}
}

@media screen and (max-width: 500px) {
	.about-container {
		height: 500px;
		padding-top: 50px;
		padding-bottom: 50px;
		.about-section {
			.about-content-container {
				margin-top: 0px;
				margin-bottom: 0px;
				.about-section-content {
					font-size: 0.6rem;
				}
			}
		}
	}
}