.quote {
	hr {
		width: 80px;
		margin-left: auto;
		margin-right: auto;
		transform: rotate(90deg);
		color: grey;
		border: 1px solid grey;
		margin-top: 100px;
		margin-bottom: 100px;
	}
	.quote-container {
		height: 200px;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		background-attachment: fixed;
		width: 100%;
		display: flex;
		align-items: center;
		text-align: center;
		flex-direction: column;
		.quote-text {
			margin-top: 50px;
			margin-bottom: 50px;
			height: 100%;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			font-family: karla;
			font-style: normal;
			font-weight: 500;
			font-size: 1.5rem;
			line-height: 47px;
			letter-spacing: 0.05em;
			color: #f9f9f9;
		}
	}
}

@media screen and (max-width: 550px) {
	.quote {
		hr {
			width: 50px;
			margin-top: 50px;
			margin-bottom: 50px;
		}
		.quote-container {
			height: 130px;
			display: block;
			background-size: 100% auto;
			.quote-text {
				font-size: 0.7rem;
				letter-spacing: 0.1em;
				margin-top: 0px;
				margin-bottom: 0px;
				line-height: 20px;
			}
		}
	}
}
