.home-main-container {
	height: 1200px;
	background-image: url('./../images/smoke.jpg');
	background-repeat: no-repeat;
	background-color: #e3e3e3;
	background-size: 100% 100%;
	.home-logo-container {
		padding-top: 70px;
		img{
			width: 120px;
			height: 90px;
		}
		.logo-txt-container {
			display: flex;
			width: 230px;
			margin: 0 auto;
			padding: 0px;
			justify-content: space-between;
			.logo-txt-mayank {
				font-family: Karla;
				font-style: normal;
				font-weight: bold;
				font-size: 1.5rem;
				color: #000000;
				margin: 0px;
				width: 48%;
				text-align: right;
			}
			.logo-txt-shekhar {
				font-family: Karla;
				font-style: normal;
				font-weight: bold;
				font-size: 1.5rem;
				margin: 0px;
				padding: 0px;
				width: 48%;
				text-align: left;
				color: #da2426;
				-webkit-text-stroke-color: black;
				-webkit-text-stroke-width: 1px;
			}
		}
		.sublogo-txt-container {
			display: flex;
			width: 230px;
			margin: 0 auto;
			padding: 0px;
			justify-content: space-between;
			.sublogo-txt-closeup {
				font-family: Karla;
				font-style: normal;
				font-weight: bold;
				font-size: 1.1rem;
				line-height: 20px;
				letter-spacing: 0.08em;
				margin: 0px;
				padding: 0px;
				color: rgba(255, 255, 255, 0.5);
				width: 48%;
				text-align: right;
			}
			.sublogo-txt-magician {
				padding: 0px 0px 0px 13px;
				font-family: Karla;
				font-style: normal;
				font-weight: bold;
				font-size: 1.1rem;
				line-height: 20px;
				letter-spacing: 0.15em;
				margin: 0px;
				color: rgba(255, 255, 255, 0.5);
				width: 48%;
				text-align: left;
			}
		}
	}
	.home-container {
		display: flex;
		justify-content: center;
		flex-direction: column;
		height: 1150px;
		margin-bottom: 0px;
		margin-top: -150px;
		padding: 0px;
		background-image: url('./../images/mayank-pic.png');
		background-repeat: no-repeat;
		background-size: 110% 90%;
		background-position: bottom;
		.home-text {
			text-align: center;
			margin-top: 60px;
			margin-bottom: 0px;
			font-family: Karla;
			font-style: normal;
			font-weight: bold;
			font-size: 50px;
			line-height: 58px;
			letter-spacing: 0.085em;
			color: rgba(255, 255, 255, 0.5);
		}
		.home-subtext {
			margin: 0px;
			text-align: center;
			font-family: Poppins;
			font-style: normal;
			font-weight: bold;
			font-size: 60px;
			line-height: 90px;
			letter-spacing: 0.185em;
			color: rgba(255, 255, 255, 0.5);
		}
	}
}

@media screen and (max-width: 700px) {
	.home-main-container{
		height: 700px;
		.home-logo-container{
			img{
				height: 60px;
				width: 70px;
			}
			.logo-txt-container{
				.logo-txt-mayank{
					font-size: 1rem;
				}
				.logo-txt-shekhar{
					font-size: 1rem;
				}
			}
			.sublogo-txt-container{
				.sublogo-txt-closeup{
					font-size: 0.8rem;
				}
				.sublogo-txt-magician{
					font-size: 0.8rem;
				}
			}
		}
	}
}

@media screen and (max-width: 900px) {
	.home-main-container{
		height: 750px;
		.home-container{
			height: 650px;
			margin-top: -70px;
			.home-text{
				font-size: 40px;
			}
			.home-subtext{
				font-size: 50px;
			}
		}
	}
}
@media screen and (max-width: 700px) {
	.home-main-container{
		height: 650px;
		.home-container{
			height: 550px;
			margin-top: -70px;
			.home-text{
				font-size:25px;
				line-height: 10px;
			}
			.home-subtext{
				font-size: 25px;
			}
		}
	}
}