.home-main-container {
  height: 1200px;
  background-image: url("./../images/smoke.jpg");
  background-repeat: no-repeat;
  background-color: #e3e3e3;
  background-size: 100% 100%;
}

.home-main-container .home-logo-container {
  padding-top: 70px;
}

.home-main-container .home-logo-container .logo-txt-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 230px;
  margin: 0 auto;
  padding: 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home-main-container .home-logo-container .logo-txt-container .logo-txt-mayank {
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  color: #000000;
  margin: 0px;
  width: 48%;
  text-align: right;
}

.home-main-container .home-logo-container .logo-txt-container .logo-txt-shekhar {
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0px;
  padding: 0px;
  width: 48%;
  text-align: left;
  color: #da2426;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
}

.home-main-container .home-logo-container .sublogo-txt-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 230px;
  margin: 0 auto;
  padding: 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home-main-container .home-logo-container .sublogo-txt-container .sublogo-txt-closeup {
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 20px;
  letter-spacing: 0.085em;
  margin: 0px;
  padding: 0px;
  color: rgba(255, 255, 255, 0.5);
  width: 48%;
  text-align: right;
}

.home-main-container .home-logo-container .sublogo-txt-container .sublogo-txt-magician {
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 20px;
  letter-spacing: 0.085em;
  margin: 0px;
  padding: 0px;
  color: rgba(255, 255, 255, 0.5);
  width: 48%;
  text-align: left;
}

.home-main-container .home-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 1100px;
  margin-bottom: 0px;
  margin-top: -150px;
  padding: 0px;
  background-image: url("./../images/mayank-pic.png");
  background-repeat: no-repeat;
  background-size: 110% 90%;
  background-position: bottom;
}

.home-main-container .home-container .home-text {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 0px;
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: 0.085em;
  color: rgba(255, 255, 255, 0.5);
}

.home-main-container .home-container .home-subtext {
  margin: 0px;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 90px;
  letter-spacing: 0.185em;
  color: rgba(255, 255, 255, 0.5);
}
/*# sourceMappingURL=home.css.map */